$colors: (
  text-color: dimgray,
  light-background: white,
  block-color: lightgray,
);

$section-border: 10px;
$grid-gap: 1.2rem;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: color(text-color);
  background-color: seashell;

  h1,
  p {
    text-align: center;
    margin: 1em 0;
  }
  a {
    color: gray;
    text-decoration: none;
  }
}

.container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: $grid-gap * 2;
  padding: 2rem;
}

.subtitle {
  font-size: 2rem;
  margin: 0.5em auto;
  display: line-block;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  height: 88%;
  width: 90%;
  border-radius: $section-border;
  gap: $grid-gap;
}

.block {
  height: 100%;
  width: 100%;
  border-radius: $section-border;
  background-color: color(block-color);
}

section {
  min-height: 90vh;
  width: 100%;
  background-color: color(light-background);
  //   margin: 2rem 0;
  border-radius: $section-border;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#column-2,
#column-3,
#column-4 {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

#grid-1-2 {
  .wrapper {
    display: grid;
    grid-template:
      "a a a a" 60%
      "b b c c" 1fr;
    // grid-template-columns: 50% auto;
    // grid-template-rows: 60% auto;
    // gap: $grid-gap;
    // grid-template-areas: "one one" "two three";
    .one {
      grid-area: a;
    }
    .two {
      grid-area: b;
    }
    .three {
      grid-area: c;
    }
  }
}

#large-grid {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $grid-gap;
  }
}

#medium-grid {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: $grid-gap;
  }
}

#small-grid {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: $grid-gap;
  }
}

#row-2,
#row-3,
#row-4 {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
}

#nav-left {
  .wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    gap: $grid-gap;
  }
}

#nav-right {
  .wrapper {
    display: grid;
    grid-template-columns: auto 30%;
    gap: $grid-gap;
  }
}

#nav-top {
  .wrapper {
    display: grid;
    grid-template-rows: 20% auto;
    gap: $grid-gap;
  }
}

#board {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: $grid-gap;
  }
}

// complex layout

#landing-page {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas:
      "a a a"
      "b c d";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
  }
}

#landing-page-2 {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40% 20%;
    grid-template-areas:
      "a a"
      "b c"
      "d d";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
    .four {
      grid-area: d;
    }
  }
}

#landing-page-3 {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 1fr 1fr;
    grid-template-areas:
      "a a a a"
      "b c c c"
      "d d d e";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
    .two {
      grid-area: b;
    }
    .three {
      grid-area: c;
    }
    .four {
      grid-area: d;
    }
    .five {
      grid-area: e;
    }
  }
}

#landing-page-4 {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas:
      "a a a"
      "b c d";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
  }
}

#landing-page-5 {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas:
      "a a a"
      "b c d";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
  }
}

#board-magazine {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "a b b"
      "c d g"
      "e f g";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
    .two {
      grid-area: b;
    }
    .three {
      grid-area: c;
    }
    .four {
      grid-area: d;
    }
    .seven {
      grid-area: g;
    }
  }
}

#blog {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 27% 27% 27% auto;
    grid-template-areas:
      "a a e"
      "b b e"
      "c c e"
      "f f e";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
    .two {
      grid-area: b;
    }
    .three {
      grid-area: c;
    }
    .four {
      grid-area: e;
    }
    .five {
      grid-area: f;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: $grid-gap;
      .icon {
        height: 50px;
        width: 50px;
        background-color: color(block-color);
        border-radius: 50%;
      }
    }
  }
}

#article {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas:
      "a a d"
      "a a d"
      "b b d"
      "c c d";
    gap: $grid-gap;

    .one {
      grid-area: a;
    }
    .two {
      grid-area: b;
    }
    .three {
      grid-area: c;
    }
    .four {
      grid-area: d;
    }
  }
}

#article-2 {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto 10% 25%;
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c"
      "d d d";
    gap: $grid-gap;

    article {
      grid-area: a;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $grid-gap;
    }
    .three {
      grid-area: b;
    }
    .four {
      grid-area: c;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: $grid-gap;
      .icon {
        height: 50px;
        width: 50px;
        background-color: color(block-color);
        border-radius: 50%;
      }
    }
    .five {
      grid-area: d;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: $grid-gap;
      .icon {
        height: 100%;
        width: 100%;
        background-color: color(block-color);
        border-radius: $section-border;
      }
    }
  }
}
